*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FF9644;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.display{

}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 10px;
}


.key{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 10px;
}

.fn-key{
    background-color: var(--primary-color);
    color: white;
}

.hbig{
    grid-row: span 2;
}

.vbig{
    grid-column: span 2;
}